*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: darkolivegreen;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    color: rgb(166, 255, 0); 
    padding: 10px; 
}

.nav-bar{
    font-family: 'Black And White Picture', sans-serif;
    text-align: center;
    color: rgb(166, 255, 0);   
}

h2{
    font-size: 30px;
}

p{
    margin-bottom: 15px;
}

b{
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration-line: underline;
}
 
.container{
    background-image: url("https://images.unsplash.com/photo-1521493521559-59b6d17ebe71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}  

.flex-container{
    display: flex;
    flex-wrap: wrap;
    color: rgb(166, 255, 0);
    font-size: 15px;
    padding: 20px;
    
}

#form{
    color: white;
}

.col-md-7{
     padding: 10px;
   
}  

#animal-buttons{
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

#animal-input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.btn-primary{
   background-color: darkolivegreen;
   color: white; 
}

#animal-input{
    width: 100%;
    margin-bottom: 10px;
}

.result-container {
    margin: 30px 30px 0 0;
}

.result {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
}

.result:hover {
	-webkit-box-shadow: 10px 10px 0px 0px  rgb(166, 255, 0);
	-moz-box-shadow:    10px 10px 0px 0px  rgb(166, 255, 0);
	box-shadow:         10px 10px 0px 0px  rgb(166, 255, 0);
}

.result {
    -webkit-animation:spin 1s ease-in 1s 1;
    -moz-animation:spin 1s ease-in 1s 1;
    animation:spin 1s ease-in 1s 1;
}
@-moz-keyframes spin { 50% { -moz-transform: rotateY(180deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(180deg); } }
@keyframes spin { 50% { transform:rotateY(180deg);} }

