*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background: #FCFFFB;
}

.navbar-custom {
    background: #FCFFFB;
}

.nav-bar, .navbar-brand, #logo{
    font-weight: bolder;  
    color: #32cd32; 
    font-size: 20px;   
}

#mque {
    color: #32cd32;
    font-weight: bolder;
}

.row {
    margin: 10px; 
}

.container-flex{
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bolder;
    padding: 20px;
    
}

#form{
    color: #ffffff;
}

#search-input {
    width: 350px;
    padding: 10px;
    border: 1px solid #32cd32;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    float: right;
}

#add-animal-button {
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    background: #32cd32;
    border: 1px solid #32cd32;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    float: right;
}

#animals{
    /* border-radius: 10px; */
    /* border: 2px solid #a9a9a9; */
    width: 100%;
    padding: 10px;
}

.result-container {
    padding: 2px;
    margin: 30px 60px 0 0;
}

.result {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
}

.result:hover {
	-webkit-box-shadow: 5px 5px 0px 0px  #32cd32;
	-moz-box-shadow:    5px 5px 0px 0px  #32cd32;
	box-shadow:         5px 5px 0px 0px  #32cd32;
}

.result {
    -webkit-animation:spin 1s ease-in 1s 1;
    -moz-animation:spin 1s ease-in 1s 1;
    animation:spin 1s ease-in 1s 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { transform:rotateY(360deg);} }


.footer {
    color: #fff;
    padding: 10px;
}

.fa {
    color: #fff;
}

#container {
    text-align: center;
}





/* mobile view */

@media only screen and (max-width: 620px){

    .container-flex{
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        font-weight: bolder;
        padding: 10px;
    }

    #search-input {
        width: 260px;
        font-size: 10px;
        padding: 5px;
    }

    #add-animal-button {
        color: #fff;
        font-weight: bolder;
        padding: 1px;
    }
}

