*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.nav-bar, .navbar-brand, #logo{
    font-weight: bolder;  
    color: #32cd32; 
    font-size: 20px;   
}

.row {
    margin: 10px; 
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bolder;
    padding: 20px;
    
}

#form{
    color: #ffffff;
}

.col-md-9{
     border: 2px thick #a9a9a9;
}  

#animal-buttons{
    border-radius: 10px;
    border: 2px solid #a9a9a9;
}

#search-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #32cd32;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    float: right;
}

#add-animal-button {
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    background: #32cd32;
    border: 1px solid #32cd32;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    float: right;
}

#animals{
    border-radius: 10px;
    border: 2px solid #a9a9a9;
    width: 100%;
    padding: 10px;
}

.result-container {
    padding: 2px;
    margin: 30px 60px 0 0;
}

.result {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
}

.result:hover {
	-webkit-box-shadow: 5px 5px 0px 0px  #32cd32;
	-moz-box-shadow:    5px 5px 0px 0px  #32cd32;
	box-shadow:         5px 5px 0px 0px  #32cd32;
}

.result {
    -webkit-animation:spin 1s ease-in 1s 1;
    -moz-animation:spin 1s ease-in 1s 1;
    animation:spin 1s ease-in 1s 1;
}
@-moz-keyframes spin { 50% { -moz-transform: rotateY(180deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(180deg); } }
@keyframes spin { 50% { transform:rotateY(180deg);} }

