*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    padding: 10px;
}

.nav-bar, .navbar-brand{
    font-weight: bolder;   
}

.row {
    margin: 10px; 
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bolder;
    padding: 20px;
    
}

#form{
    color: white;
}

.col-md-9{
     border: 2px thick #a9a9a9;
}  

#animal-buttons{
    border-radius: 10px;
    border: 2px solid #a9a9a9;
}

#search-input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
    width: 220px;
    float: right;
    background: #fff;
    border: 3px solid #32cd32;
}

#add-animal-button {
    border:2px solid #32cd32;
    background: #32cd32;
    margin-top: 15px;
    border-radius:0;
    float: right;
    height: 30px;
}
#search-animal-button {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border:2px solid #a9a9a9;
    background: #a9a9a9;
    margin-top: 15px;
    float: right;
    height: 30px;
}

#add-animal-image {
    margin-top: -5px;
    max-width: 30px;
    height: 27px;
}

#add-animal-img {
    margin-top: -15px;
    max-width: 30px;
    height: 27px;
}

#animals{
    border-radius: 10px;
    border: 2px solid #a9a9a9;
    width: 100%;
    padding: 10px;
}

.result-container {
    padding: 2px;
    margin: 30px 60px 0 0;
}

.result {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
}

.result:hover {
	-webkit-box-shadow: 5px 5px 0px 0px  #32cd32;
	-moz-box-shadow:    5px 5px 0px 0px  #32cd32;
	box-shadow:         5px 5px 0px 0px  #32cd32;
}

.result {
    -webkit-animation:spin 1s ease-in 1s 1;
    -moz-animation:spin 1s ease-in 1s 1;
    animation:spin 1s ease-in 1s 1;
}
@-moz-keyframes spin { 50% { -moz-transform: rotateY(180deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(180deg); } }
@keyframes spin { 50% { transform:rotateY(180deg);} }

